.Navbar {
	width: 100%;
	height: var(--navbar-height);
	color: var(--inverted-primary-color);
	background-color: var(--inverted-bg-color);
	display: flex;
	align-items: center;
	padding: 20px;
	gap: 15px;
}

.links {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	gap: 20px;
}

.appName {
	margin-left: 15px;
	width: var(--sidebar-width);
}
